.principal {
  align-items: center;
  justify-content: center;
}

.inputs {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
